gradio
llama-cpp-python
openvino
transformers
sentence-transformers
pymilvus
milvus-lite
qdrant-client
f5-tts
cosyvoice
zonos
matcha-tts
chatterbox-tts
fish-speech
ChatTTS
qwen-omni-utils
msclap
# Spark-TTS
